<div class="questionnaires-content">

  <mat-nav-list *ngIf="questionnaires && isTeacher">
    <h3 mat-header>{{ 'QUESTIONNAIRES.TITLE' | translate }}</h3>

    <h3 mat-subheader>{{ 'QUESTIONNAIRES.LIST' | translate }}</h3>

    <mat-list-item *ngFor="let questionnaire of questionnaires">
      <mat-icon mat-list-icon  (click)="goToQuestionnaireDetail(questionnaire)">note</mat-icon>
      <h4 mat-line  (click)="goToQuestionnaireDetail(questionnaire)">{{questionnaire.name}}</h4>
      <p mat-line>{{ 'QUESTIONNAIRES.ID' | translate }} {{questionnaire.id}}</p>
      <h4 mat-line *ngIf= "questionnaire.groupid">{{ 'GROUPS.ID' | translate }}: {{questionnaire.groupid}}</h4>

     <button  mat-line mat-flat-button class="awards-but" (click)="showAwards(questionnaire)">{{ 'COMMON.AWARDS' | translate }}</button>
      <mat-slide-toggle class="toggleActive" labelPosition = "before" (change)="onChange($event, questionnaire)" [checked]="questionnaire.active" >
      </mat-slide-toggle>

    </mat-list-item>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-nav-list>

  <mat-nav-list *ngIf="myQuests && !isTeacher">
      <h3 mat-header>{{ 'QUESTIONNAIRES.TITLE' | translate }}</h3>
      <h3 mat-subheader>{{ 'QUESTIONNAIRES.MYQUESTIONNAIRES' | translate }}</h3>

      <mat-list-item class="card disable-md-clickable" *ngFor="let questionnaire of myQuests">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{questionnaire.name}}</h4>
        <p mat-line>{{ 'QUESTIONNAIRES.ID' | translate }} {{questionnaire.id}}</p>
          <h4 mat-line *ngIf= "questionnaire.groupid">{{ 'GROUPS.ID' | translate }}: {{questionnaire.groupid}}</h4>
        <h4 mat-line>Fecha: {{questionnaire.date}}</h4>

      </mat-list-item>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-nav-list>


<ol *ngIf="questionnaires && isTeacher">
  <mat-form-field>
    <input matInput [(ngModel)]="name" placeholder="{{ 'QUESTIONNAIRES.ID' | translate }}">
  </mat-form-field>
  <button mat-raised-button (click)="deleteQuestionnaire()">{{ 'QUESTIONNAIRES.DELETE' | translate }}</button>
</ol>

<ol *ngIf="questionnaires && isTeacher">
  <button mat-raised-button (click)="createQuestionnaire()">{{ 'QUESTIONNAIRES.CREATE' | translate }}</button>
</ol>

</div>



