.collection-content {
  margin: 40px auto;
  max-width: 800px;
}
.cardcontent{

  background-color: lightcyan;
  
  }
.optionForm{
  width: 250px;

  }
.example-image {
  max-width: 25px;
}
.example-card {
  max-width: 250px;
  max-height: 100px;
}
.example-header-image {
  max-height: 25px;
  background-size: cover;
}
.cardList {
height: auto;

}
.cardList .mat-list-item{
 
  height: 100px;
  margin: 5px auto;
 
}
.formMargin{

  margin-left: 10px;

}
.imagelist{

  max-width: 120px;
  max-height: 80px;
  
  }

