<div class="collection-content">
  <mat-card class="cardcontent" *ngIf ="isTeacher">
      <h5 mat-subheader>Assignar cromos a estudiant</h5>
      <mat-form-field class="optionForm" >
          <mat-select [(value)]="optionType" placeholder="Escull el tipus d'assignació"  [formControl]= "myControl">
              <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>

          </mat-select>
      </mat-form-field>
      <mat-form-field class = "formMargin" *ngIf = "optionType =='Assignar una carta a escollir'" >
          <mat-select [(value)]="cardSelected" placeholder="Escull la carta"  [formControl]= "myControl">
              <mat-option *ngFor="let card of collectionCards" [value]="card.id">
                  {{card.name}} ({{card.rank}})
                </mat-option>

          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field >
          <mat-select [(value)]="groupSelected" placeholder="Escull el group"  [formControl]= "myControl" >

            <mat-option *ngFor="let group of collectionGroups" [value]="group.id" (click)="showStudents()">
              {{group.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field  class = "formMargin"  >
          <mat-select [(value)]="studentSelected" placeholder="Escull l'estudiant" [formControl]= "myControl">

            <mat-option *ngFor="let student of collectionStudents" [value]="student.id">
              {{student.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
        <br>
        <button mat-raised-button (click)="assignCardsToStudent()">ASSIGNAR CARTES</button>



  </mat-card>



    <mat-nav-list *ngIf="collectionCards && isTeacher" class="cardList">
        <h3 mat-subheader>Cartes de la col·lecció</h3>
        <mat-list-item *ngFor="let card  of collectionCards" >

            <img matListAvatar src={{card.image}}>
            <h3 matLine>{{card.name}}</h3>
            <br>
            <p matLine>
                <span>Id: {{card.id}}</span>

              </p>
            <p matLine>
              <span>Nivell: {{card.rank}}</span>

            </p>
            <p matLine>
                <span>Ratio: {{card.ratio}}</span>

              </p>



        </mat-list-item>
         <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-nav-list>
      <ol *ngIf ="isTeacher">
        <button mat-raised-button (click)="createCard()">Crear nou cromo</button>
    </ol>
    <ol *ngIf ="isTeacher">
        <mat-form-field >
          <input matInput [(ngModel)]="cardId" placeholder="Cromo ID">
        </mat-form-field>
        <button mat-raised-button (click)="deleteCard()">Eliminar cromo de la col·lecció</button>
    </ol>

  </div>
