<div class="collection-content">
  <mat-card class="cardcontent" *ngIf ="isTeacher">
      <h5 mat-subheader>Assignar cromos a estudiant</h5>
      <mat-form-field class="optionForm" >
          <mat-select [(value)]="optionType" placeholder="{{'COMMON.TYPEASSIGNMENTCHOOSE' | translate}}"  [formControl]= "myControl">
              <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>

          </mat-select>
      </mat-form-field>
      <mat-form-field class = "formMargin" *ngIf = "optionType == options[0]" >
          <mat-select [(value)]="cardSelected" placeholder="{{'CARDS.CHOOSE' | translate}}"  [formControl]= "myControl">
              <mat-option *ngFor="let card of collectionCards" [value]="card.id">
                  {{card.name}} ({{card.rank}})
                </mat-option>

          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field >
          <mat-select [(value)]="groupSelected" placeholder="{{'GROUPS.CHOOSE' | translate}}"  [formControl]= "myControl" >

            <mat-option *ngFor="let group of collectionGroups" [value]="group.id" (click)="showStudents()">
              {{group.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field  class = "formMargin"  >
          <mat-select [(value)]="studentSelected" placeholder="{{'STUDIENTS.CHOOSE' | translate}}" [formControl]= "myControl">

            <mat-option *ngFor="let student of collectionStudents" [value]="student.id">
              {{student.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
        <br>
        <button mat-raised-button (click)="assignCardsToStudent()">{{'CARDS.ASSIGN' | translate}}</button>



  </mat-card>



    <mat-nav-list *ngIf="collectionCards && isTeacher" class="cardList">
        <h3 mat-subheader>{{'CARDS.OFCOLLECTION' | translate}} ({{collectionCards.length}}/{{myCollection.num}})</h3>
        <mat-list-item *ngFor="let card  of collectionCards" >


            <img class="imagelist" src={{card.image}}>
            <h3 matLine>{{card.name}}</h3>
            <br>
            <p matLine>
                <span>{{'CARDS.ID' | translate}}: {{card.id}}</span>

              </p>
            <p matLine>
              <span>{{'CARDS.LEVEL' | translate}}: {{card.rank}}</span>

            </p>
            <p matLine>
                <span>{{'CARDS.RATIO' | translate}}: {{card.ratio}}</span>

              </p>



        </mat-list-item>
         <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-nav-list>
      <ol *ngIf ="isTeacher">
        <button mat-raised-button (click)="createCard()">{{'CARDS.CREATE' | translate}}</button>
    </ol>
    <ol *ngIf ="isTeacher">
        <mat-form-field >
          <input matInput [(ngModel)]="cardId" placeholder="{{'CARDS.ID' | translate}}">
        </mat-form-field>
        <button mat-raised-button (click)="deleteCard()">{{'CARDS.DELETE' | translate}}</button>
    </ol>

  </div>
