.collection-content {
  margin: 40px auto;
  max-width: 800px;
}
.example-image {
  max-width: 25px;
}
.assign-content{

  background-color: lightcyan;
  
  }
  .formmargin{
    margin-left: 10px;


  }
