<div class="collection-content">
    <mat-nav-list *ngIf="collections">
        <h3 mat-header>Col·leccions</h3>
        <h3 mat-subheader>Llista de col·leccions</h3>

        <mat-list-item *ngFor="let collectionCard  of collections" (click)="goToCollectionDetails(collectionCard)" >
            <img matListAvatar src={{collectionCard.image}}>

              <h4 mat-line>{{collectionCard.name}}</h4>

        </mat-list-item>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-nav-list>
      <ol>
          <button mat-raised-button (click)="createCollection()">Crear nova col·lecció</button>
      </ol>
  </div>
