<div class="createQuestionnairePointsAssignment-content">



  <h3 mat-header>{{ 'POINTS.ASSIGN' | translate }}</h3>
  <br>
  <mat-slide-toggle color = "secondary"[(ngModel)]="device[i]" (change)="onChange($event)"  ></mat-slide-toggle>
    <mat-list *ngIf = "device[i]">

        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" min="0" [(ngModel)]="a" placeholder="{{ 'QUESTIONNAIRE.MARK1' | translate }}" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">

              </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" min="0" [(ngModel)]="b" placeholder="{{ 'QUESTIONNAIRE.MARK2' | translate }}" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">

              </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" min="0" placeholder="{{ 'QUESTIONNAIRE.MARK3' | translate }}" [(ngModel)]="c"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">

              </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" [(ngModel)]="d" min="0"  placeholder="{{ 'QUESTIONNAIRE.MARK4' | translate }}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >

              </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" min="0" placeholder="{{ 'QUESTIONNAIRE.MARK5' | translate }}" [(ngModel)]="e"  matInput [formControl]="myControl" [matAutocomplete]="auto" >

              </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number"min="0" [(ngModel)]="f" placeholder="{{ 'QUESTIONNAIRE.MARK6' | translate }}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">

              </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input type="number" min="0" [(ngModel)]="g" placeholder="{{ 'QUESTIONNAIRE.MARK7' | translate }}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">

              </mat-form-field>
        </mat-list-item>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }} {{'POINTS.TITLE' | translate}}
          </mat-option>
        </mat-autocomplete>


    </mat-list>



    <br>

    <button mat-raised-button (click)="createQuestionnaire()">{{ 'QUESTIONNAIRE.NEXT' | translate }}</button>
    <button mat-raised-button (click)="cancel()">{{ 'QUESTIONNAIRE.BACK' | translate }}</button>
