.questionnaire-content {
  margin: 40px auto;
  max-width: 800px;
}

/*.questionnaire-content {
  display: flex;
  flex-direction: column;
}

.questionnaire-content > * {
  width: 100%;
}*/

#h5{
  background-color:#57f957;
  color: black;
}
