<div class="createQuestionnaireBadgesAssignment-content">



  <h3 mat-header>{{'BADGES.ASSIGN' | translate}}</h3>
  <br>
  <mat-slide-toggle color = "secondary" [(ngModel)]="device[i]" (change)="onChange($event)"></mat-slide-toggle>
    <br>
  <mat-list *ngIf = "device[i]">

        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input  [(ngModel)]="ins1" placeholder="{{'QUESTIONNAIRE.MARK8' | translate}}" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">
                <mat-hint align="end">{{'BADGES.MAXVALUE' | translate}}</mat-hint>
              </mat-form-field>
        </mat-list-item>
        <br>
        <br>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input   [(ngModel)]="ins2" placeholder="{{'QUESTIONNAIRE.MARK9' | translate}}" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">
                <mat-hint align="end">{{'BADGES.MEDIUMVALUE' | translate}}</mat-hint>
              </mat-form-field>
        </mat-list-item>
        <br>
        <br>
        <mat-list-item>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="ins3" placeholder="{{'QUESTIONNAIRE.MARK10' | translate}}" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">
                <mat-hint align="end">{{'BADGES.LOWVALUE' | translate}}</mat-hint>

              </mat-form-field>
        </mat-list-item>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let badge of badges" [value]="badge.name">
              <img style="vertical-align:middle;" aria-hidden src="{{badge.image}}" height="25" />

           <span> {{ badge.name }}</span>
          </mat-option>
        </mat-autocomplete>


    </mat-list>



    <br>

    <button mat-raised-button (click)="createQuestionnaire()">{{ 'QUESTIONNAIRE.NEXT' | translate }}</button>
    <button mat-raised-button (click)="cancel()">{{ 'QUESTIONNAIRE.BACK' | translate }}</button>
