<div class="home-content">
  <mat-card *ngIf="profile">
    <mat-card-header>
      <img mat-card-avatar [src]="profile.avatar.image">
      <mat-card-title>{{ profile.name }} {{ profile.surname }}</mat-card-title>
      <mat-card-subtitle>{{ profile.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ngx-lorem-ipsum [count]="10"></ngx-lorem-ipsum>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="school">
    <mat-card-header>
      <img mat-card-avatar [src]="school.image">
      <mat-card-title>{{ school.name }}</mat-card-title>
      <mat-card-subtitle>{{ school.address }}, {{ school.zipCode }} {{ school.city }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ school.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="{{ school.twitter }}" target="_blank">{{ 'HOME.TWITTER' | translate }}</a>
      <a mat-button href="{{ school.facebook }}" target="_blank">{{ 'HOME.FACEBOOK' | translate }}</a>
      <a mat-button href="{{ school.website }}" target="_blank">{{ 'HOME.WEBSITE' | translate }}</a>
    </mat-card-actions>
  </mat-card>
  <!-- LANGUAGE -->
  <mat-card-content>
    <button id="button" mat-raised-button (click)="choose()">{{ 'HOME.LANGUAGE' | translate }}</button>
  </mat-card-content>
</div>
