<div class="point-content">
    <mat-nav-list *ngIf="points">
        <h3 mat-subheader>{{ 'POINTSBADGES.POINTSTITLE' | translate }}</h3>
        <mat-list-item *ngFor="let point of points" >
            <img matListAvatar src={{point.image}}>
          <h4 mat-line>{{point.name}}</h4>
          <p mat-line>{{ 'POINTSBADGES.POINTID' | translate }}{{point.id}}</p>
        </mat-list-item>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-nav-list>
      <ol>
          <button mat-raised-button (click)="createPoint()">{{ 'POINTSBADGES.CREATEPOINT' | translate }}</button>
        </ol>


        <ol>
            <mat-form-field>
              <input matInput [(ngModel)]="pointId" placeholder="Punt ID">
            </mat-form-field>
            <button mat-raised-button (click)="deletePoint()">Eliminar Punt</button>
        </ol>

      <mat-nav-list *ngIf="badges">
          <h3 mat-subheader>{{ 'POINTSBADGES.BADGESTITLE' | translate }}</h3>
          <mat-list-item *ngFor="let badge of badges" >
              <img matListAvatar src={{badge.image}}>
              <h4 mat-line>{{badge.name}}</h4>
            <p mat-line>{{ 'POINTSBADGES.BADGEID' | translate }}{{badge.id}}</p>
          </mat-list-item>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-nav-list>


        <ol>
            <button mat-raised-button (click)="createBadge()">{{ 'POINTSBADGES.CREATEBADGE' | translate }}</button>
        </ol>

        <ol>
            <mat-form-field>
              <input matInput [(ngModel)]="badgeId" placeholder="Insígnia ID">
            </mat-form-field>
            <button mat-raised-button (click)="deleteBadge()">Eliminar Insígnia</button>
        </ol>
  </div>
