.point-content {
  margin: 40px auto;
  max-width: 800px;
}
.point-content .mat-form-field{

  margin-left: 20px;
}
.buttonsend{

  width: 150px;
  margin-left: 100px;

}
.buttonsend2{

  width: 175px;
  margin-left: 20px;

}
.assign-content{

background-color: lightcyan;

}
.selectGroup{

  background-color: azure;

}
.total{
  margin-bottom: 10px;
  font-weight: 500;
  background-color: azure;
  
  }
.studentlist .mat-list-item{
  border: 1px solid;
  margin-top: 5px;

}