.createQuestionnaireTextArea2-content {
  margin: 40px auto;
  max-width: 800px;
}

.createQuestionnaireTextArea2-content {
  display: flex;
  flex-direction: column;
}

.createQuestionnaireTextArea2-content > * {
  width: 100%;
}
.example-image {
  max-width: 500px;
  max-height: 500px;
  align-items: center;
  justify-content: center;
  

}
.card-image{

  justify-content: center;
  align-items: center;

}
